# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Dataset folders
data/CASIA2/
data/NC16/

# Uploaded images
website/static/uploads/

# Large model files
*.pt
*.pth
*.h5

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db